h1 {
    font-family: Arial, Helvetica, sans-serif;
    animation: fadeIn 1s ease-in-out;
    }
    
    .titulo {
    font-family: 'Arial', sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    }
    
    p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    }
section .seccion-preguntas {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .seccion-preguntas ul{
        text-decoration: none;
        list-style-type: none;
    }
    
    section ul .whtsapp {
    align-items: center;
    display: flex;
    text-decoration: none;
    }
    
    main section article h3 {
    font-size: 150%;
    }

    h2 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        display: flex;
        justify-content: center;
        text-align: center;
        animation: fadeIn 1s ease-in-out;
        }


        main section article h3 {
            font-size: 150%;
            }