nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    background-color: gainsboro;
}

nav ul a {
    text-decoration: none;
    color: black;
}

nav ul li {
    margin: 20px;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

section .seccion-preguntas {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

section ul .whtsapp {
    align-items: center;
    display: flex;
    text-decoration: none;
}